.App {
  font-family: sans-serif;
  text-align: center;
}
.inputBox {
  height: 2vh;
  width: 2vh;
  background-color: lightgray;
  padding: 1rem;
  margin: 0.25rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
.solved {
  display: none;
}
